<div>
  <section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <section class="aside-hero">
      <h2>DMC Delorean</h2>
      <ul>
        <li>2 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>
      <img src="/images/site/own_today.png" alt="DMC Delorean" />
    </section>
  </section>
  <section class="items-home">
    <div>
      <h2>Delorean Upgrades</h2>
      <div class="items-group">
        <div>
          <span class="upgrades-item"
            ><img
              src="/images/upgrades/flux-cap.png"
              alt="Flux Capacitor Icon"
            />
          </span>
          <a href="#">Flux Capacitor</a>
        </div>
        <div>
          <span class="upgrades-item"
            ><img src="/images/upgrades/flame.jpg" alt="Flame Decals Icon" />
          </span>
          <a href="#">Flame Decals</a>
        </div>
      </div>
      <div class="items-group">
        <div>
          <span class="upgrades-item"
            ><img src="/images/upgrades/bumper_sticker.jpg" alt=""
          /></span>
          <a href="#">Bumper Stickers</a>
        </div>
        <div>
          <span class="upgrades-item"
            ><img src="/images/upgrades/hub-cap.jpg" alt=""
          /></span>
          <a href="#">Hub Caps</a>
        </div>
      </div>
    </div>
    <div>
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time. (4/5)"</li>
        <li>"Coolest ride on the road. (4/5)"</li>
        <li>"I'm feeling McFly!. (5/5)"</li>
        <li>"The most futuristic ride of our day. (4.5/5)"</li>
        <li>"80's livin and love it!. (5/5)"</li>
      </ul>
    </div>
  </section>
</div>
