<% if (title) { %>
      <h1><%= title %></h1>
      <p><%= message %></p>
      <img alt="error-image" class="error-image" src="/images/site/error-image.jpg"/>
      <a href="/">Go Home</a>
<% } else { res.redirect('/') } %>
